*{
  box-sizing:border-box;
  margin: 0;
  font-family:arial;
}

body{
  background-image: url(background.jpg);
  background-size:cover;
}

.container{
  min-height: 550px;
  width: 800px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
  padding: 50px 40px;
  margin-top: 20px;
}

.header{
  text-align: center;
}

.logo{
  height: 25%;
  width: 25%;
}

h1{
  color: #11DD01;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  padding-top: 10px;
}

.banner{
  background-color: #11DD01;
  text-align: center;
  padding: 5px 0px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 95%;
}

.button{
  font-size: 8px;
  margin-bottom: 2px;
}

label{
  color: white;
}

p,span{
  font-size: 10px;
  font-weight: 100;
  color: #c9c9c9;
}

.central{
  font-weight: 200;
}

.paragraph{
  margin-bottom: 20px;
}

.yellow{
  background-color: #F5B453;
  padding: 10px;
  width: 40%;
  border-radius: 5px;
}

.green{
  background-color: #1EC31E;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
}

.red{
  background-color: #BE4141;
  padding: 10px;
  width: 15%;
  border-radius: 5px;
}
